body{
overflow-x: hidden;
}
.col-lg-7{
  position: relative;
  left: 50px;
}
#ping{
  height: 645px;
}

#collapseExample{
  width: 100%;
}
.text{
  font-style: sans-serif;
}
#mainmag{
  width: 250px;
  height: 350px;
  float: right;
  position: relative;
  right: 200px;
  top: 110px;
}

.card{
  position: relative;
  top: 100px;
  background-color:#00ced1; 
  height: 1000px;
  width: 100%;

}
.buttons{
  text-align: center;
  padding: 25px;

        }
.para{
  padding:55px;
  font-size:23px;
  position: relative;
  left: 100px;
  top: 60px;
  bottom: 100px;

        }
.button{
  float: right;
  position: relative;
  top: 550px;
  left: 530px;
  }
.container-fluid h2{
 font-size:50px;
 position: relative;

}
#magazine{
	width:960px;
	height:600px;
	position: relative;
	left: 250px;
  top: 100px;
	
}
#page{
	width: 100%;
	height: 100%;
	background-color: #00ced1;


}
#page1{
	width: 100%;
	height: 1050px;
	background-color: white;
  position: relative;
  top: 90px;
}


.text{
  text-align: center;
}

.order-first {
  float: left;
}
h2{

  text-align: center;

}
.container h2{
  font-size: 40px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;

}

#image{
  height: 290px;
  width: 290px;
}
#Heading{
  margin: 9vh;
}

p{
  font-size: 25px;
}
col-md-2{
  position: relative;
  left: 300px;
  bottom: 50px;
}
#previousmagazine{
  height: 800px;
}
.gallery__img:hover{
  transform: scale(1.09);
}

@media (max-width: 768px){
 .card{
  width: 100%;
 }
 .magazine{
  width: 100%;
 }
 .para{
  text-align: center;
 }
 #mainmag{
  left: 10px;
  width: 50%;a

 }
 .gallery__img{
  width: 250px;
  height: 300px;
  position: relative;
  left: 40px;
  padding-bottom:20px;
 }
 .col-md-7 p{
  position: relative;
  right: 50px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
 }
 .sm{
  padding-right: 10px;
  padding-top: 20px;
 }
 .socialicon{
  width: 50px;
  height: 50px;
 }
 #Heading{
  padding-top: 20px;
 }
 .container h2{
  padding-top: 30px;
  padding-bottom:30px;
 }
 #image{
  padding-top: 20px;
  padding-bottom: 20px;
 }
}
