body{
overflow-x: hidden;
}
.col-lg-7{
  position: relative;
  left: 50px;
}
#ping{
  height: 645px;
}
#collapseExample{
  width: 100%;
}
.text{
  font-style: sans-serif;
}
#mainmag{
  width: 250px;
  height: 350px;
  float: right;
  position: relative;
  right: 200px;
  top: 110px;
}

.btn{
 position: relative;
 top: 50px;
}
.card{
  position: relative;
  top: 100px;
  background-color:#00ced1; 
  height: 1000px;
  width: 100%;

}
.buttons{
  text-align: center;
  padding: 25px;

        }
.para{
  padding:55px;
  font-size:23px;
  position: relative;
  left: 100px;
  top: 60px;
  bottom: 100px;

        }
.button{
  float: right;
  position: relative;
  top: 550px;
  left: 530px;
  }
.container-fluid h2{
 font-size:50px;
 position: relative;
 top: 50px;
}
#heading{
	width: 100%;
	height: 100px;
	font-size: 60px;
	text-align: center;
	color: white;
	background-color: black;
 

}
#heading1{
  width: 100%;

  font-size: 50px;
  text-align: center;
  position: relative;
  top: 40px;
  overflow-x: hidden;
  overflow-y: hidden;

}
#magazine{
	width:960px;
	height:600px;
	position: relative;
	left: 250px;
  top: 100px;
	
}
#page{
	width: 100%;
	height: 100%;
	background-color: #00ced1;


}
#page1{
	width: 100%;
	height: 1050px;
	background-color: white;
  position: relative;
  top: 90px;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
.text{
  text-align: center;
}
.container{
  position: relative;
  top: 36px;
}
.order-first {
  float: left;
}
h2{
  position: relative;
  top: 100px;
  text-align: center;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;

}
h2{
  font-size: 30px;
}
#image{
  height: 290px;
  width: 290px;
}
p{
  font-size: 25px;
}
.col-md-2{
  position: relative;
  left: 300px;
  bottom: 50px;
}
#previousmagazine{
  height: 800px;
}
.row{
  position: relative;
  top: 100px;
}
.gallery__img:hover{
  transform: scale(1.09);
}
@media (max-width: 768px){
 .card{
  width: 100%;
 }
 .magazine{
  width: 100%;
 }
 .para{
  text-align: center;
 }
 #mainmag{
  left: 10px;
  width: 50%;a

 }
#heading1{
  font-size: 350%;
  width: 100%;

}
#magazine{
 
}

}
